{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "330820344897.dkr.ecr.eu-central-1.amazonaws.com/howl-docker-repo:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}
