commands:
  create_post_dir:
    command: "mkdir /etc/logstash/patterns"
    ignoreErrors: true
files:
  "/etc/logstash/conf.d/nginx.conf":
    content: |
      input {
        file {
          type => "nginx"
          start_position => "beginning"
          path => [ "/var/log/nginx/*.log" ]
        }
      }

      filter {
        if [type] == "nginx" {
          grok {
            match => [ "message" , "%{COMBINEDAPACHELOG}+%{GREEDYDATA:extra_fields}"]
            overwrite => [ "message" ]
          }

          mutate {
            convert => ["response", "integer"]
            convert => ["bytes", "integer"]
            convert => ["responsetime", "float"]
          }

          geoip {
           source => "clientip"
           target => "geoip"
           database => "/etc/logstash/GeoLiteCity.dat"
           add_field => [ "[geoip][coordinates]", "%{[geoip][longitude]}" ]
           add_field => [ "[geoip][coordinates]", "%{[geoip][latitude]}"  ]
         }
         mutate {
          convert => [ "[geoip][coordinates]", "float"]
         }

          date {
            match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
            remove_field => [ "timestamp" ]
          }

          useragent {
            source => "agent"
          }
        }
      }

      output {
        stdout {
          codec => dots {}
        }
        elasticsearch {
          index => "logstash-%{+YYYY.MM.dd}-%{type}"
          hosts => 'search-howl-webserver-kj3sjq7uoeropbdhjnhktghlmm.eu-central-1.es.amazonaws.com:80'
        }
      }