files:
  "/etc/logstash/conf.d/nginx.conf":
    content: |
      input {
        file {
          type => "nginx"
          start_position => "beginning"
          path => [ "/var/log/nginx/*.log" ]
        }
      }

      filter {
        if [type] == "nginx" {
          grok {
            patterns_dir => "/etc/logstash/patterns"
            match => { "message" => "%{NGINX_ACCESS}" }
            remove_tag => ["_grokparsefailure"]
            add_tag => ["nginx_access"]
          }
          grok {
            patterns_dir => "/etc/logstash/patterns"
            match => { "message" => "%{NGINX_ERROR}" }
            remove_tag => ["_grokparsefailure"]
            add_tag => ["nginx_error"]
          }
          geoip {
            source => "visitor_ip"
          }
        }
      }
      output {
        elasticsearch {
          index => "nginx_logs"
          document_type => "logs"
          hosts => 'search-howl-webserver-kj3sjq7uoeropbdhjnhktghlmm.eu-central-1.es.amazonaws.com'
          document_id => "%{request_id}"
          timeout => 15
        }
      }